<div class="rodape">
    <div class="mb-4">
    </div>
    <footer class="navbar navbar-dark bg-preto futer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <a class="navbar-brand" href="/">
                        <img src="/public/img/kawasaki-logo-footer.jpg" class="d-inline-block align-top logo futer">
                    </a>
                </div>
            </div>
            <p class="direitoCopia text-white-50">
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>
                Kawasaki Motores do Brasil LTDA. Todos os direitos reservados.
            </p>
        </div>
    </footer>
</div>