<div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-altura">
        <div class="container-fluid">
            <div class="container d-flex justify-content-center">
                <a class="navbar-brand" href="/">
                    <img src="https://www.kawasakibrasil.com/Content/Images/kawasaki-logo-global.jpg" alt="kawasaki logo" class="logo">
                </a>
            </div>
        </div>
    </nav>

    <div class="green-lines"></div>
</div>