<div class="container-fluid home-content mb-5">
    <div class="container-fluid d-flex justify-content-center">
        <div class="borderTop1 container justify-content-center">
            <div class="row mt-3">
                <form method="POST" action="/teste">
                    <center>
                        <div class="form-floating mb-3">
                            <input type="text" name="cdMaterial" class="form-control mulario" id="floatingInput"{}>
                            <label for="floatingInput" class="ms-3">Material</label>
                        </div>
                        <div class="form-floating mb-3">
                            <button class="btn btn-primary butao" id="send" type="submit">Enviar</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>
